*.swp
*.gcda
/test
afl-fuzz
afl-clang-fast
afl-clang
afl-gcc
as
afl-g++
afl-clang++
afl-analyze
afl-as
afl-gotcpu
afl-showmap
afl-tmin
afl-clang-fast++
out*/
subjects/
FInfos/
afl-llvm-pass.so
afl-llvm-rt-32.o
afl-llvm-rt-64.o
afl-llvm-rt.o
llvm_mode/FInfo-cmp.txt
